.container__titulo{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container__titulo h3{
	color: var(--cinza);
	font-weight: var(--espessura-titulo);
	font-size: 21px;
}

.container__foto{
	display: flex;
	align-items: center;
	flex-direction: column;

}

.container__foto img{
	width: 40px;
	height: 40px;

	margin: 1rem 0;
}

.container__foto{
	text-decoration: none;
}

.container__foto p{
	font-size: 12px;

	color: var(--vermelho);

	text-decoration: underline;

	width: 168px;
}

.botao__salvar a{
	text-decoration: none;

	color: white;
}